body,
html {
  height:100%;
  display: grid;
  gap: 5px;
  grid-template-rows: 10%, 80%, 10%;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-areas: 
  "app app app app"
  "main main main main"
  "foot foot foot foot";
  margin: 5px;
  padding: 5px;
  background-color: blanchedalmond;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-area: app;
}

header > nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}


main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  grid-area: main;
  align-items: center;
  justify-content: flex-start;
}

.store-item {
  height: auto;
  width: 21%;
  background-color: gray;
  margin: 1%;
  padding: 1%;
}

.store-item > img {
  height: auto;
  max-width: 100%;
  align-self: center;
}

footer {
  grid-area: foot;
}