body,
html {
  display: grid;
  grid-template-rows: 10%, 80%, 10%;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: 
  "app app app app"
  "main main main main"
  "foot foot foot foot";
  background-color: blanchedalmond;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: app;
  background-color: rosybrown;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

li {
  padding: 10px;
  border-left: 1px solid black;
}

ul > li:first-child {
  border-left: none;
}


main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  grid-area: main;
  align-items: stretch;
}

.store-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 21%;
  background-color: gray;
  margin: 1%;
  padding: 1%;
  align-items: stretch;
  align-content: center;
}


.store-item > span {
  margin-right: 4%;
}

img {
  height: auto;
  max-width: 100%;
  align-self: center;
}

footer {
  grid-area: foot;
  display: flex;
  flex-direction: row;
  justify-content: center;
}